<!-- OPENING ALBUM -->
<section>
    <div class="album py-1 bg-light">
        <div class="container" id="explora">
            <h4 class="my-5"><b>ESTÁS BUSCANDO: {{filtro}}</b></h4>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{#if consulta}}
                {{#each consulta}}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/shoespic/{{imagen}}" width="420px" height="200px" />
                        <div class="card-body">
                            <p class="card-text mb-2">{{nombre}}</p>
                            <p class="card-text text-muted">Talla: {{talla}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button class="btn btn-outline-success" type="button">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="row d-flex align-items-center mx-auto text-center">
                    <h3 class="col-12 text-danger">NO SE HAN ENCONTRADO COINCIDENCIAS :( <h3 />
                    <img src="/img/404.png" class="col-12">
                </div>

                {{/if}}
            </div>
        </div>
    </div>
</section>
<!-- ENDING ALBUM -->


<!-- SCRIPT JAVASCRIPT BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<!-- SCRIPT JAVASCRIPT BOOTSTRAP -->