<div class="container pt-4 pb-2 px-4 d-flex align-items-center justify-content-center">
  <h3 class="pt-3"><b><u>Editar Datos del Usuario</u></b></h4>
</div>
<div class="container d-flex align-items-center justify-content-center mx-5 px-5 py-4">
  <div class="card mb-3 mx-5 px-5 text-center border-light">
    <div class="row g-0">
      <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
        <img src="/img/perfil1.jfif" class="bd-placeholder-img rounded-circle" width="140" height="140" />
        <div class="d-flex align-items-center">
          <h2>{{user.nombre}} {{user.apellido}}</h2>
        </div>
        <div class="d-flex align-items-center">
          <p class="m-0">Hey there! I am using ShoesLovers xd</p>
        </div>
        <form action="/subir" method="post" class="my-3" enctype="multipart/form-data">
          <input type="file" name="imagen">
          <br />
          <button type="submit" class="btn btn-lg btn-outline-primary mt-3">Cambiar Imagen</button>
        </form>
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <h3 class="pb-3">Datos del Usuario</h3>
            <form action="/links/Jinja/editar/{{user.id}}" method="post">
              <div class="row text-start">
                <div class="col-6 mb-4">
                  <input class="form-control" name="nombre" value="{{user.nombre}}"></input>
                  <p class="px-2 text-muted">Nombre</p>
                </div>
                <div class="col-6 mb-4">
                  <input class="form-control" name="apellido" value="{{user.apellido}}"></input>
                  <p class="px-2 text-muted">Apellido</p>
                </div>
                <div class="col-6 mb-4">
                  <input class="form-control" name="edad" value="{{user.edad}}"></input>
                  <p class="px-2 text-muted">Edad</p>
                </div>
                <div class="col-6 mb-4">
                  <input class="form-control" name="direccion" value="{{user.direccion}}"></input>
                  <p class="px-2 text-muted">Dirección</p>
                </div>

                <!--
                <div class="col-6 mb-4">
                  <input class="form-control" type="password"></input>
                  <p class="px-2 text-muted">Contraseña</p>
                </div>
                <div class="col-6 mb-4">
                  <input class="form-control" type="password_confirm"></input>
                  <p class="px-2 text-muted">Confirmar Contraseña</p>
                </div>
                -->

              </div>
              <hr />
              <div class="d-flex justify-content-center pt-2">
                <p><button class="btn btn-outline-success btn-lg mx-2">Guardar &raquo;</button></p>
                <p><a class="btn btn-outline-danger btn-lg mx-2" href="/perfil">Cancelar &raquo;</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>