<div class="container py-4 d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img src="/profilepic/{{user.imagen}}" class="bd-placeholder-img rounded-circle" width="140" height="140" />
    <div class="d-flex align-items-center">
      <h2>{{user.nombre}} {{user.apellido}}</h2>
    </div>
    <div class="d-flex align-items-center">
      <p class="m-0">Hey there! I am using ShoesLovers xd</p>
    </div>
    <div class="d-flex align-items-center pt-2">
      <p><a class="btn btn-outline-dark" href="/links/Jinja/editar/{{user.id}}">Editar Perfil</a></p>
    </div>
  </div>
  <hr />
</div>

<div class="container py-4 px-4 d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h3 class="pb-4"><b><u>Datos del Usuario</u></b></h4>
      <div class="row">
        <div class="col-6 mb-4">
          <span class="input-group-text">{{user.nombre}}</span>
          <p class="px-2 text-muted">Nombre</p>
        </div>
        <div class="col-6 mb-4">
          <span class="input-group-text">{{user.apellido}}</span>
          <p class="px-2 text-muted">Apellido</p>
        </div>
        <div class="col-6 mb-4">
          <span class="input-group-text">{{user.edad}}</span>
          <p class="px-2 text-muted">Edad</p>
        </div>
        <div class="col-6 mb-4">
          <span class="input-group-text">{{user.direccion}}</span>
          <p class="px-2 text-muted">Dirección</p>
        </div>
        <div class="col-6 mb-4">
          <span class="input-group-text">{{user.email}}</span>
          <p class="px-2 text-muted">Email</p>
        </div>
        <div class="col-6 mb-4">
          <span class="input-group-text">{{user.pais}}</span>
          <p class="px-2 text-muted">País</p>
        </div>
      </div>
      <div class="d-flex align-items-center pt-2">
        <p><a class="btn btn-outline-danger" href="/logout">Cerrar Sesión &raquo;</a></p>
      </div>
  </div>
</div>